@model FoodApp.BLL.Models.ViewMenuVM

@{
    ViewData["Title"] = "Menu";
}

<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Food Menu</h2>
            </div>
            <div class="col-12">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Menu" asp-action="New">Add Meal</a>
                <p></p>
                <form asp-controller="Menu" asp-action="Index" method="get">

                    <p>
                        <input type="text" placeholder="Title" asp-for="SearchString" style="padding: 10px; border: 2px solid #ccc; border-radius: 4px; font-size: 16px; width: 200px;">
                        <input type="submit" value="Search" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuList![0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuList![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuList![0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuList![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuList![0].Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MenuList!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>
                
                <td>
                    <a asp-action="EditFoodItem" asp-route-id="@item.Id" class="carousel-btn"><i class="fa fa-edit"></i></a> |
                    <a asp-action="LearnMore" asp-route-id="@item.Id" class="carousel-btn"><i class="fa fa-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="carousel-btn"><i class="fa fa-trash"></i></a> 
                </td>
            </tr>
        }
    </tbody>
</table>


